<nav class="navbar is-info" role='navigation' aria-label='main navigation'>
    <div class='container'>
        <div class="navbar-brand">
            <a class='navbar-item'>Home</a>
            <a class='navbar-item button__save'>Saved</a>
            <div class="navbar-item">
                <a class="button is-light is-outlined has-text-weight-semibold scrape__new">Scrape</a>
            </div>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</nav>

<section class="hero is-info is-medium masthead">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="is-size-1 is-lowercase" style="font-family:'Love Ya Like A Sister'">Cracked Article Scraper</h1>
        </div>
    </div>
</section>

<section class='section'>
    <div class="container container__article">
        <h1 class='title has-text-centered'>Articles</h1>
    </div>
</section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js'></script>
<script src='../../assets/js/app.js'></script>